* {
  box-sizing: border-box;
}
body {
  font-family: futura-pt, arial, sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 100%;
  margin: 0;
  padding: 0 0px;
}
/*-----------HEADER-----------*/
.icon-link {
  color: #333;
  font-size: 1.5rem;
  padding: 0 5px;
  text-decoration: none;
}

.icon-link:hover {
  color: #007bff;
}

.navbar-nav {
  display: flex;
  justify-content: center;
}

.navbar-nav .nav-item {
  margin: 0 10px;
}

.navbar-nav .nav-link {
  color: #333;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}
.navbar-brand {
  background: linear-gradient(90deg, #020595, #0687b6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 32px;
}

.header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 90px;

  z-index: 9999;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  transition: box-shadow 0.3s ease-in-out;
}
.header:hover {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Đảm bảo màu nền có độ phủ 100% */
}
.header.scrolled {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Đảm bảo màu nền có độ phủ 100% */
}
.nav-link {
  font-size: 1rem;
  padding: 5px;
}

.badge {
  position: absolute;
  font-size: 1rem;
  top: 12px;
  right: 9px;
  color: #f50404;
}
.small-badge {
  font-size: 0.75rem;
  padding: 0.2em 0.4em;
  border-radius: 0.2rem;
}
.icon-list {
  width: 32px;
  height: 32px;
  color: #333;
  font-size: 1.5rem;
}
.icon-list:hover {
  color: #007bff;
}
/*-----------BAGFORM-----------*/
.bag-form {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  display: none;
}
.bag-form1 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  display: none;
}
.bagform-card {
  width: 408px;
  height: auto;
  padding-right: 20px;
  padding-top: 50px !important;
  border-bottom: 1px solid #a4a3a3;
}
.bagform-img img {
  width: 96px;
  height: 120px;
}
.bagform-title span {
  font-size: 13px;
}
.bagform-quantity {
  font-style: 14px;
  font-weight: 700;
  border: 1px solid #000000;
  padding: 1px 5px;
  background-color: #fff;
}
.bagform-name {
  font-size: 13px;
  font-weight: 700;
}
.bagform-des {
  font-size: 13px;
}
.bagform-remove {
  font-size: 14px;
  margin: 10px 0 0;
  font-weight: 700;
  text-decoration: underline;
}
.close-button {
  width: 60px;
  height: 60px;
  background-color: #f1f1f1;
  border-radius: 999px;
  text-align: center;
  align-content: center;
  position: absolute;
  font-size: 24px;
  top: 0px;
  right: 0px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
}
.bag-checkout {
  width: 150px;
  height: 40px;
  color: #d51280;
  border: 1px solid #d51280;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.bag-checkout a {
  text-decoration: none;
  color: #d51280;
}
.sub-price {
  font-size: 16px;
  font-weight: 700;
}
/*-----------CAROUSEL-----------*/
.carousel-item {
}
.carousel-caption {
  position: absolute;
  width: 253px;
  height: 143px;
  top: 70px;
  left: 30px;
}
.join-now {
  width: 122px;
  height: 26px;
}
.carousel-item img {
  width: 100%;
  height: 350px !important;
  object-fit: fill;
  overflow: hidden;
  object-position: center;
  background-position: right;
}
.carousel {
  width: 100%;
}
/*-----------PRODUCT-----------*/
.skincare-card img {
  width: 100%;
  height: auto;
}
.card-thumbnailimg img {
  width: 100%;
  height: 557px;
}
.product-title p {
  font-size: 20px;
  font-weight: 600;
}

.new {
  font-size: 10px;
  background: black;
  color: #fff;
  width: 50px;
  height: 20px;
  padding-top: 4px;
  font-weight: 600;
}

.new {
  position: absolute;
  bottom: -8px;
  left: calc(50% - 25px);
}
.p-name {
  font-size: 12px;
  font-weight: 600;
  color: #000000;
}
.name-price {
  margin-top: 10px;
}
.name-price a {
  text-decoration: none;
  width: 143px;
}
.description {
  color: #000000;
  font-size: 12px;
  font-weight: 300;
  width: 143px;
}
.price {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
}
.description-quickshop {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.curate-shop {
  width: 200px;
  height: 30px;
  font-size: 12px;
  color: rgb(237, 10, 196);
  border: 1px solid rgb(237, 10, 196);
  margin: 20px auto;
}

.soko-thumbnail {
  max-width: 100%;
  height: 407px;
  object-fit: fill;
  overflow: hidden;
}

.soko-title {
  font-size: 28px;
}
.soko-description {
  font-size: 16px;
}
.join-soko {
  color: #d51280;
  background-color: transparent;
  border: 1px solid #d51280;
  font-size: 11px;
  padding: 8px 15px;
  cursor: pointer;
  pointer-events: all;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.47px;
}
.skincare-card img {
  max-width: 100%;
  height: 328px;
}
.shop-now {
  color: #d51280;
  border: 1px solid #d51280;
  padding: 10px 12px;
  text-decoration: none;
}
.bi-chevron-right {
  color: #fff;
}
.email-sign button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
  background-color: #000000;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}
.email-sign input {
  padding: 10px 60px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
  flex: 1;
}
.the-kog {
  font-size: 32px;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
}
.footer-label {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
}
.label {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
}
.only-good {
  font-size: 36px;
  font-weight: 700;
}
.skin {
  color: plum;
}
.customer-about {
  width: 100%;
  background-color: #cac8c8;
}
.filter {
  padding: 13px 0px;
}
.filter-sticky {
  font-size: 14px;
}
.filter-header {
  text-decoration: none;
  font-size: 16px;
}
.filter-item {
  list-style-type: none;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 14px;
}
.best-seller {
  font-size: 10px;
  background: black;
  color: #fff;
  width: 80px;
  height: 20px;
  padding: 5px;
  font-weight: 600;
}
.exclusive {
  font-size: 12px;
  background: rgb(4, 111, 198);
  color: #fff;
  width: 80px;
  height: 20px;
  padding: 5px;
  font-weight: 600;
}
.sticky-note {
  position: absolute;
  bottom: -5px;
  left: calc(50% - 40px);
}
.reviewer {
  font-size: 16px;
}
.shop-all {
  font-size: 35px;
  margin: 30px auto;
  padding-top: 60px;
}
.filter-sort {
  height: 48px;
  border: 1px solid black;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 700;
  margin: 30px auto;
}
.card-thumbnail img {
  width: 100%;
  height: auto;
}
.number {
  text-decoration: underline;
}
.page {
  font-size: 20px;
  letter-spacing: 6px;
}
.arrow {
  font-size: 32px;
}
@media (min-width: 768px) {
  .carousel-item img {
    width: 100%;
    height: 534px !important;
  }
  .product-title p {
    font-size: 36px;
    font-weight: 600;
  }
  .navbar-brand {
    font-size: 40px;
  }
  .best-seller {
    font-size: 12px;
    background: black;
    color: #fff;
    width: 100px;
    height: 28px;
    padding-top: 6px;
    font-weight: 600;
  }
  .exclusive {
    font-size: 12px;
    background: rgb(4, 111, 198);
    color: #fff;
    width: 100px;
    height: 28px;
    padding-top: 6px;
    font-weight: 600;
  }
  .sticky-note {
    position: absolute;
    bottom: -5px;
    left: calc(50% - 50px);
  }
  .sticky-note1 {
    position: absolute;
    bottom: -14px;
    left: 18px;
  }
  .p-name {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
  }
  .name-price a {
    text-decoration: none;
  }
  .description {
    color: #000000;
    font-size: 12px;
    font-weight: 300;
  }
  .price {
    color: #000000;
    font-size: 12px;
    font-weight: 400;
  }
  .description-quickshop {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .card-thumbnail:hover .description-quickshop {
    opacity: 1;
  }
  .card-thumbnail:hover img {
    opacity: 40%;
  }
  .curate-shop {
    width: 200px;
    height: 30px;
    font-size: 12px;
    color: rgb(237, 10, 196);
    border: 1px solid rgb(237, 10, 196);
    margin: 20px auto;
  }
  .join-soko {
    width: 200px;
    height: 30px;
    font-size: 12px;
    color: rgb(237, 10, 196);
    border: 1px solid rgb(237, 10, 196);
    margin: 20px auto;
  }
  .soko-thumbnail {
    max-width: 100%;
    height: 507px;
    object-fit: fill;
    overflow: hidden;
  }
  .soko-content {
    padding: 20px;
  }
}

@media (min-width: 992px) {
  .navbar-brand {
    font-size: 40px;
  }
  .nav-link {
    font-size: 16px !important;
    font-weight: 500;
    letter-spacing: 1.63px;
    line-height: 17px;
    text-transform: uppercase;
  }
  .carousel-item img {
    width: 100% !important;
    height: 734px !important;
  }
  .carousel-caption1 {
    width: 470px;
    height: 154px;
    top: 140px;
    left: 40px;
  }
  .poster-name {
    width: 750px;
    font-size: 64px;
  }
  .poster-title p {
    font-size: 24px;
  }
  .join-now {
    font-size: 20px;
  }
  .join-now {
    width: 210px;
    height: 36px;
    margin-top: 30px;
  }
  .product-title p {
    font-size: 36px;
  }
  .sticker-name {
    font-size: 18px;
    font-weight: 600;
  }
  .active1 {
    color: rgb(245, 9, 194);
    text-decoration: wavy;
  }

  .collection-card img {
    width: 100%;
    height: auto;
  }
  .p-name {
    font-size: 15px;
    font-weight: 600;
    color: #000000;
  }
  .name-price a {
    text-decoration: none;
  }
  .description {
    color: #000000;
    font-size: 12px;
    font-weight: 300;
  }
  .price {
    color: #000000;
    font-size: 12px;
    font-weight: 400;
  }
  .description-quickshop {
    width: 80%;
    bottom: 30px;
    left: 10%;
  }
  .quickshop {
    width: 250px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #060606;
  }
  .quickshop:hover {
    background-color: black;
    color: #fff;
  }
  .new {
    font-size: 12px;
    background: black;
    color: #fff;
    width: 100px;
    height: 25px;
    padding-top: 4px;
    font-weight: 600;
  }
  .new {
    position: absolute;
    bottom: -8px;
    left: calc(50% - 50px);
  }

  .curate-shop {
    width: 300px;
    height: 50px;
    font-size: 18px;
    color: rgb(237, 10, 196);
    border: 1px solid rgb(237, 10, 196);
  }
  .soko-thumbnail {
    max-width: 50%;
    height: 825px;
    object-fit: fill;
    overflow: hidden;
  }
  .soko-content {
    margin: auto 30px;
    padding: 0 80px;
    width: 650px;
  }
  .soko-title {
    font-size: 64px;
  }
  .soko-description {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: 1px;
  }
  .join-soko {
    color: #d51280;
    background-color: transparent;
    border: 1px solid #d51280;
    font-size: 16px;
    padding: 8px 15px;
    cursor: pointer;
    pointer-events: all;
    font-weight: 500;
    text-transform: uppercase;
    width: 275px;
    height: 45px;
    margin-left: 0px;

    /* letter-spacing: 1.47px; */
  }

  .shop-now {
    color: #d51280;
    border: 1px solid #d51280;
    padding: 15px 18px;
    text-decoration: none;
  }
  .the-kog {
    font-size: 32px;
    text-decoration: none;
    color: #000000;
    font-weight: 700;
  }
  .footer-label {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
  }
  .label {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
  }
  .only-good {
    font-size: 36px;
    font-weight: 700;
  }
  .skin {
    color: plum;
  }
  .shop-all {
    font-family: "Georgia", sans-serif;
    font-size: 59px;
    letter-spacing: 1.5px;
    line-height: 52px;
    margin-bottom: 16px;
    margin: 130px auto;
    font-weight: 100;
    color: #020464;
  }
}
@media (min-width: 1200px) {
  .sticky-note {
    position: absolute;
    bottom: -5px;
    left: calc(50% - 116px);
  }
}
