.best-seller {
  position: fixed;
  width: 700px;
  height: 300px;
  top: 90px;
  left: 300px;
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  color: #000;
  z-index: 10000;
  display: none;
}
.seller1:hover .best-seller {
  display: block;
}
