.embla {
  overflow: hidden;
  position: relative;
}
.embla__container {
  display: flex;
}
.main-carousel .embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  aspect-ratio: 1;
}
.thumb-carousel .embla__slide {
  flex: 0 0 80px;
  min-width: 0;
  aspect-ratio: 1;
}
.product-image {
  aspect-ratio: 1;
}
.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
